/* --------------------------------------------
   * Atoms Extends
-------------------------------------------- */

%titleEighteen {
  font-family: 'Roboto', sans-serif, Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: $colorTitleWhite;
  line-height: 0;
}

%titleSectionInfo {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontFourty;
  color: $grayThree;
  cursor: default;
  margin-block-start: 0;
  margin-block-end: 0;
}

%titleBig {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* ////////////////////////EXTEND BUTTON BLUE//////////////////////// */

%btnGhostCancel {
  text-align: center;
  vertical-align: middle;
  padding: 12px 12px;
  border-radius: $radiusFive;
  font-weight: bold;
  font-size: $fontEighteen;
  font-family: $fontButton;
  font-style: normal;
  text-decoration: none;
  border: 4px solid $primaryBase;
  box-shadow: 0px 4px 8px $shadownBtnRed;
  cursor: pointer;
  color: $primaryBase;

  &:hover {
    color: $whiteColor;
    background: $primaryBase;
  }
}

%btonGhostGeneral {
  text-align: center;
  vertical-align: middle;
  padding: 12px 12px;
  border-radius: $radiusFive;
  font-weight: bold;
  font-size: $fontEighteen;
  font-family: $fontButton;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

%btnWord {
  font-weight: bold;
  font-size: $fontEighteen;
  font-family: $fontButton;
  font-style: normal;
  color: $accentInfo;
  text-decoration: none;
  cursor: pointer;
  border: none;

  &:hover {
    text-decoration: underline;
  }
}

%btonGeneral {
  text-align: center;
  vertical-align: middle;
  padding: 16px 16px;
  border-radius: $radiusFive;
  font-weight: bold;
  font-size: $fontEighteen;
  border: none;
  font-family: $fontButton;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

%btonFullSolid {
  text-align: center;
  vertical-align: middle;
  padding: 16px 140px;
  border-radius: $radiusFive;
  font-weight: bold;
  font-size: $fontEighteen;
  border: none;
  font-family: $fontButton;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

%btnMblue {
  text-align: center;
  vertical-align: middle;
  padding: 16px 16px;
  border-radius: $radiusFive;
  background: $accentInfo;
  font-weight: bold;
  font-size: $fontEighteen;
  border: none;
  font-family: $fontButton;
  font-style: normal;
  color: $whiteColor;
  text-decoration: none;
  box-shadow: 0px 4px 8px $shadownBtnBlue;
  cursor: pointer;

  &:hover {
    background: $hooverBlue;
  }
}

.btn-medium-blue,
.btn-medium-return,
.btn-medium-next {
  @extend %btnMblue;
}
