/* --------------------------------------------
   * Atoms Project
-------------------------------------------- */
.background-mini-balls {
  position: relative;
  z-index: -1;
  width: 443px;
  height: 120px;
  margin-top: 67px;
}

.btn-full-create-project {
  margin-top: 201px;
  text-align: center;
  vertical-align: middle;
  border-radius: $radiusFive;
  color: $whiteColor;
  height: 52px;
  font-weight: bold;
  font-size: $fontEighteen;
  font-family: $fontButton;
  font-style: normal;
  background: $accentInfo;
  text-decoration: none;
  cursor: pointer;
  border: none;
  width: 443px;
  outline: none;
  position: absolute;

  &:hover {
    background: $hooverBlue;
  }
}

.help-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: $secondaryColorLight;
}

.help-word {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: $fontSixteen;
  color: $backgroundLight;
}

.content-add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: $accentSuccesLight;
  margin-right: 8px;
}
.add-img-btn:hover .content-add-btn {
  background: $accentSuccesDark;
}

.mini-after,
.mini-previus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: $secondaryColorLight;
  position: absolute;
  cursor: pointer;
  border-width: 0;
  z-index: 2;

  &:hover {
    background: $secondaryDark;
  }
}

.mini-after {
  right: -25px;
}

.mini-previus {
  left: -25px;
}

.btn-create-test-project {
  text-align: center;
  vertical-align: middle;
  margin-top: 32px;
  height: 52px;
  width: 100%;
  background: transparent;
  border-width: 0;
  outline: 0;
  cursor: pointer;
  border: 4px solid $accentSuccesDark;
  border-radius: 8px;
  background: transparent;
  font-family: $fontBody;
  font-style: normal;
  font-weight: bold;
  font-size: $fontEighteen;
  color: $accentSuccesDark;

  &:hover {
    background: $accentSuccesDark;
    color: $backgroundLight;
  }
}
