/* //------------------EXTENDS------------------// */

/* ////////////////////////EXTEND BUTTON BLUE//////////////////////// */

%titleEighteen {
  font-family: 'Roboto', sans-serif, Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: $colorTitleWhite;
  line-height: 0;
}

%titleSectionInfo {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontFourty;
  color: $grayThree;
  cursor: default;
  margin-block-start: 0;
  margin-block-end: 0;
}

%titleBig {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* ////////////////////////EXTEND BUTTON BLUE//////////////////////// */

%btnGhostCancel {
  text-align: center;
  vertical-align: middle;
  padding: 12px 12px;
  border-radius: $radiusFive;
  font-weight: bold;
  font-size: $fontEighteen;
  font-family: $fontButton;
  font-style: normal;
  text-decoration: none;
  border: 4px solid $primaryBase;
  box-shadow: 0px 4px 8px $shadownBtnRed;
  cursor: pointer;
  color: $primaryBase;

  &:hover {
    color: $whiteColor;
    background: $primaryBase;
  }
}

%btonGhostGeneral {
  text-align: center;
  vertical-align: middle;
  padding: 12px 12px;
  border-radius: $radiusFive;
  font-weight: bold;
  font-size: $fontEighteen;
  font-family: $fontButton;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

%btnWord {
  font-weight: bold;
  font-size: $fontEighteen;
  font-family: $fontButton;
  font-style: normal;
  color: $accentInfo;
  text-decoration: none;
  cursor: pointer;
  border: none;

  &:hover {
    text-decoration: underline;
  }
}

%btonGeneral {
  text-align: center;
  vertical-align: middle;
  padding: 16px 16px;
  border-radius: $radiusFive;
  font-weight: bold;
  font-size: $fontEighteen;
  border: none;
  font-family: $fontButton;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

%btonFullSolid {
  text-align: center;
  vertical-align: middle;
  padding: 16px 140px;
  border-radius: $radiusFive;
  font-weight: bold;
  font-size: $fontEighteen;
  border: none;
  font-family: $fontButton;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

%btnMblue {
  text-align: center;
  vertical-align: middle;
  padding: 16px 16px;
  border-radius: $radiusFive;
  background: $accentInfo;
  font-weight: bold;
  font-size: $fontEighteen;
  border: none;
  font-family: $fontButton;
  font-style: normal;
  color: $whiteColor;
  text-decoration: none;
  box-shadow: 0px 4px 8px $shadownBtnBlue;
  cursor: pointer;

  &:hover {
    background: $hooverBlue;
  }
}

.btn-medium-blue,
.btn-medium-return,
.btn-medium-next {
  @extend %btnMblue;
}

/* //------------------------------------------------------------------// */

/* //////////////////////ATOM BUTTON MEDIUM BLUE REGISTER////////////////////// */

.container-btns-register {
  margin-top: 130px;
  margin-left: 140px;
  display: flex;
  flex-direction: row;
}

.btn-medium-return {
  margin-right: 20px;
}

/* //////////////////////////////////////// */
.content-btn-next {
  margin-top: 56px;
  margin-left: 280px;
}

/* //////////////////////ATOM TITLE REGISTER////////////////////// */
.text-registerpass,
.title-basic-dates {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontTwentyFour;
  margin-top: 40px;
  margin-bottom: 0;
  color: $colorTitleWhite;
}

/* ////////////////DESCRIPTION LOG IN //////////////// */
.have-account {
  @extend %titleEighteen;
  margin-top: 24px;
  margin-bottom: 0;

  .log-in {
    color: $accentInfo;
    text-decoration: none;
  }
}

.background-two {
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg width='1920' height='951' viewBox='0 0 1920 951' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1426.98 200.282C1468.38 84.3429 1458.03 40.3573 1447.68 0.675537H1920V950.999H0.463867V914.923C82.6266 894.875 332.423 844.47 520.824 825.837C756.325 802.546 1171.09 822.883 1218.51 803.774C1327.85 759.715 1330.74 622.664 1330.74 526.386C1330.74 428.831 1375.22 345.205 1426.98 200.282Z' fill='%23FAFAFA'/%3E%3C/svg%3E%0A");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-match {
  left: 1586px;
  top: 594px;
}

.balls-icon,
.icon-match {
  display: flex;
  position: absolute;
}

.background-effect {
  position: absolute;
  width: 120px;
  height: 120px;
  background: transparent;
  border-radius: 50%;
  left: 1644px;
  top: 633px;
  animation: size_circle 0.7s linear infinite;
  box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6),
    -5px -5px 10px rgba(255, 255, 255, 0.5);
}

@keyframes size_circle {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 68, 115, 0.3),
      0 0 0 1em rgba(255, 121, 155, 0.3), 0 0 0 3em rgba(255, 175, 195, 0.03),
      0 0 0 5em rgba(255, 228, 235, 0.01);
  }
  100% {
    box-shadow: 0 0 0 4em rgba(255, 68, 115, 0.3),
      0 0 0 6em rgba(255, 121, 155, 0.3), 0 0 0 8em rgba(255, 175, 195, 0.03),
      0 0 0 10em rgba(255, 228, 235, 0.01);
  }
}

.text-home {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  color: $primaryLight;
  font-size: $fontFourty;
}

.content-title-home {
  text-align: center;
  display: flex;
  position: absolute;
  height: 160px;
  width: 686px;
  left: 320px;
}

.icon-info {
  font-size: 128px;
}

.accept-terms,
.btn-done {
  @extend %btnMblue;
  margin-top: 24px;
}

.btn-cancel {
  @extend %btnGhostCancel;
  margin-top: 24px;
  margin-right: 24px;
}

.title-conditions {
  @extend %btnWord;
  margin-top: 32px;
}

/* --------------------------------------------
   * Page Plans
-------------------------------------------- */

.btn-free {
  @extend %btonGhostGeneral;
  background: $darkGreen;
  border: 4px solid $whiteColor;
  color: $whiteColor;
  width: 149px;
  justify-content: center;

  &:hover {
    background: $lightGreen;
    color: $blackColor;
    border: 4px solid $blackColor;
  }
}

.btn-premium {
  @extend %btonGhostGeneral;
  background: $darkOrange;
  border: 4px solid $whiteColor;
  color: $whiteColor;
  width: 149px;
  justify-content: center;

  &:hover {
    background: $lighOrange;
    color: $blackColor;
    border: 4px solid $blackColor;
  }
}

.content-btn-free,
.content-btn-premium {
  display: flex;
  position: absolute;
  top: 526px;
  width: 316px;
  justify-content: flex-end;
  height: 52px;
}

.content-title-free,
.content-title-premium {
  display: flex;
  position: absolute;
  margin-top: 24px;
  justify-content: flex-start;
  width: 316px;
}

.title-card-free,
.title-card-premium {
  @extend %titleBig;
}

.title-free,
.title-premium {
  color: $whiteColor;
}

.content-price-free,
.content-price-premium {
  display: flex;
  position: absolute;
  width: 100px;
  justify-items: end;
  top: 514px;
  margin-right: 216px;
  height: 64px;
}

.price-free,
.price-premium {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: $whiteColor;
}

/* --------------------------------------------
   * Page Profile
-------------------------------------------- */

.content-nav {
  display: flex;
  position: absolute;
  margin-left: 1474px;
  top: 40px;
}

.btn-premium-pay {
  @extend %btonGeneral;
  background: $accentActiveLight;
  color: $whiteColor;

  &:hover {
    background: $accentActiveHover;
  }
}

.btn-create-project {
  @extend %btonGhostGeneral;
  margin-right: 32px;
  background: $backgroundLight;
  border: 4px solid $accentSuccesDark;
  color: $accentSuccesDark;

  &:hover {
    color: $whiteColor;
    background-color: $accentSuccesDark;
  }
}

.icon-nav-match {
  display: flex;
  position: relative;
}

.line-hover {
  position: fixed;
  right: 0;
  top: 102px;
  width: 100vw;
  height: 7px;
  display: none;
  cursor: default;
}

.content-title-user {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  top: 310px;
  z-index: 1;
}

.title-name-user {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: $backgroundDark;
  cursor: default;
}

.btn-create-test {
  display: flex;
  position: relative;
  @extend %btonGeneral;
  background: $accentSuccesLight;
  color: $whiteColor;

  &:hover {
    background: $accentSuccesDark;
  }
}

.title-description-test,
.title-description-match {
  display: flex;
  position: relative;
  @extend %titleSectionInfo;
}

.title-description-test {
  margin-bottom: 24px;
}

.section-abilities {
  display: flex;
  flex-direction: column;
  background: $boxInfo;
  width: 534px;
  height: 420px;
  border-radius: 5px;
  margin-top: 16px;
}

.btn-add-abilities {
  display: flex;
  position: absolute;
  @extend %btonFullSolid;
  background: $accentInfo;
  color: $whiteColor;
  margin-top: 32px;

  &:hover {
    background: $hooverBlue;
  }
}

.more-btn {
  margin-right: 16px;
}

/* page test */

.title-choose-test {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontThirtyTwo;
  color: $backgroundDark;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 32px;
  cursor: default;
}

.btn-next-test,
.btn-next-question,
.btn-previus-question,
.btn-next-question-two,
.btn-next-match {
  display: flex;
  position: relative;
  @extend %btonGeneral;
  color: $whiteColor;
  margin-top: 24px;
  outline: none;
}

.btn-next-test,
.btn-next-match {
  background: $accentInfo;

  &:hover {
    background: $hooverBlue;
  }
}

.btn-next-match {
  justify-content: center;
  width: 100%;
}

.btn-next-test {
  left: 420px;
}

.btn-next-question {
  left: 689px;
  margin-bottom: 32px;
  background: $accentInfo;

  &:hover {
    background: $hooverBlue;
  }
}

.btn-next-question-two {
  background: $accentInfo;
  margin-left: 16px;
}

.btn-previus-question {
  background: $primaryLight;

  &:hover {
    background: $HoverPrimaryLight;
  }
}

/* ///////////////////////Page Match//////////////////////// */

.content-title-image-project {
  width: 420px;
}

.content-title-name-project,
.content-title-description-project,
.content-title-type-project {
  width: 502px;
}

.content-title-image-project,
.content-title-name-project,
.content-title-description-project,
.content-title-type-project {
  display: flex;
  align-items: center;
  height: 60px;
  background: $backgroundDark;
  border-radius: 10px;
  margin-bottom: 8px;
}

.title-image-project,
.title-name-project,
.title-description-project,
.title-type-project {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: $backgroundLight;
  margin-left: 24px;
}
