//////////////////////ATOM TITLE REGISTER//////////////////////
.text-registerpass {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontTwentyFour;
  z-index: 2;
  margin-top: 42px;
}
