/* --------------------------------------------
   * Molecules Projects
-------------------------------------------- */

.content-images {
  display: flex;
  flex-direction: column;
  width: 286px;
  height: 362px;
}

.image-one,
.image-two,
.image-three {
  width: 204px;
  height: 158px;
}

.content-image-one,
.content-image-three {
  justify-content: flex-end;
}

.content-image-one,
.content-image-three,
.content-image-two {
  display: flex;
  width: 100%;
  position: relative;
}

.content-image-one {
  top: 0;
  z-index: 1;
}

.content-image-three {
  z-index: 3;
  bottom: 112px;
}

.content-image-two {
  justify-content: flex-start;
  z-index: 2;
  bottom: 56px;
}

.image-one,
.image-two,
.image-three {
  border-radius: 5px;
}

.image-one {
  box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.15);
}

.image-two {
  box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.15);
}

.image-three {
  box-shadow: 0px 8px 35px 6px rgba(0, 0, 0, 0.15);
}

.title-create-project {
  @extend %titleMedium;
  margin-bottom: 8px;
}

.line-title-create-project {
  margin-bottom: 32px;
}

.text-create-project {
  @extend %bodyMedium;
  line-height: 24px;
}

.line-title-create-project,
.text-create-project {
  width: 436px;
}

.txt-info-create-project {
  cursor: default;
  font-family: $fontButton;
  font-style: normal;
  font-weight: bold;
  font-size: $fontEighteen;
  color: $backgroundLight;
}

.content-black-info {
  width: 498px;
}

.content-black-info-two {
  width: 736px;
}

.content-black-info,
.content-black-info-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: $contentBlack;
  border-radius: 7px;
  padding: 0 16px 0 16px;
}

.add-img-btn {
  display: flex;
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: $backgroundLight;
  align-items: center;
  padding: 16px 16px;
  background: $backgroundDarkTwo;
  outline: none;
  border-radius: 7px;
  border-width: 0;
  cursor: pointer;
}

.add-img-btn:hover {
  background: $backgroundDark;
}

.content-image-mini {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 100px;
  cursor: pointer;
}

.square-dashed {
  position: absolute;
  stroke: #fafafa;
}

.content-image-mini:hover .square-dashed {
  stroke: $accentSuccesLight;
}
