/* --------------------------------------------
   * Page Match
-------------------------------------------- */

.card-image-project {
  height: 561px;
  width: 420px;
}

.card-name-project {
  height: 74px;
}

.card-description-project {
  height: 228px;
}

.card-type-project {
  height: 92px;
  width: 502px;
}

.card-name-project,
.card-description-project,
.card-owner-project {
  width: 502px;
  margin-bottom: 16px;
}

.card-requirement-project {
  width: 502px;
  height: 369px;
}

.card-image-project,
.card-name-project,
.card-description-project,
.card-type-project,
.card-owner-project,
.card-requirement-project {
  background: $lightGreenTwo;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.card-owner-project {
  height: 176px;
}

.style-title-owner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primaryLight;
  width: 80px;
  font-family: $fontButton;
  font-style: normal;
  font-weight: bold;
  font-size: $fontEighteen;
  color: $backgroundLight;
  height: 35px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: default;
}

.name-owner {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 4px;
  left: 80px;
  font-family: $fontButton;
  font-style: normal;
  font-weight: bold;
  font-size: $fontEighteen;
  color: $backgroundDark;
}

.line-title-name-owner {
  border: 1px solid $backgroundDark;
  width: 292px;
  margin-bottom: 12px;
}

.owner-description {
  position: relative;
  left: 16px;
  background: $backgroundLight;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  width: 470px;
  height: 90px;
}

.avatar-circle {
  display: flex;
  position: absolute;
  height: 130px;
  width: 130px;
  background: #faf9f9;
  border: 4px solid #289038;
  border-radius: 50%;
  left: 1410px;
  bottom: 600px;
}

.line-circle {
  position: relative;
  left: 78px;
}

.mini-circle-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 82.5px;
  bottom: 92px;
  background: transparent;
  height: 64px;
  width: 64px;
  background: #faf9f9;
  border-radius: 50%;
}

.content-circle-affinity {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 54px;
  background: $backgroundDark;
  border-radius: 50%;
  z-index: 2;
}

.percent-affinity-project {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #fafafa;
}

.box .percent-affinity-project {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.circle-dashed {
  border: 2px dashed #ff295f;
}

.circle-dashed-affinity {
  position: absolute;
}

.box .content-circle-progress {
  position: relative;
  height: 52px;
  width: 52px;
}

.progress-bar-circle {
  position: relative;
  fill: none;
  stroke-width: 3;
  stroke: #000;
  transform: translate(-4px, -2.6px);
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  stroke-linecap: round;
}

.progress-bar-circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #dff6e3;
}

.progress-bar-circle:nth-child(2) {
  stroke-dashoffset: calc(150 - (150 * 70) / 100);
  stroke: #289038;
}

.content-card-match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 836px;
  height: 156px;
  position: relative;
  top: 21px;
}

.background-btns-match {
  background: #d6feeb;
  box-shadow: 0px -1px 14px rgba(255, 41, 95, 0.5);
  position: relative;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 836px;
  height: 156px;
  z-index: -1;
}

.content-btns-match {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 2;
}
