/* --------------------------------------------
   * Page Profile
-------------------------------------------- */

.content-btns-menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
  left: 304px;
}

.content-project,
.content-test {
  display: flex;
  flex-direction: column;
  height: 70px;
  align-items: center;
}

.test,
.project,
.text-match,
.text-profile {
  text-decoration: none;
  font-family: $fontButton;
  font-style: normal;
  font-weight: bold;
  font-size: $fontEighteen;
}

.test,
.project,
.text-profile {
  color: $backgroundDark;
}

.test,
.project {
  margin-left: 16px;
  margin-right: 16px;
}

.text-profile {
  margin-left: $spacingEight;
}

.text-match {
  color: $whiteColor;
}

.background-hover {
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
  @extend %backgroundHover;
}

.background-hover:hover .test {
  color: $whiteColor;
  display: flex;
}

.background-hover:hover .project {
  color: $whiteColor;
  display: flex;
}

.content-btn-profile:hover .line-hover {
  background: $accentInfo;
  display: flex;
}

.content-btn-match:hover .line-hover {
  background: $accentInfo;
  display: flex;
}

.content-test:hover .line-hover {
  background: $accentInfo;
  display: flex;
}

.content-project:hover .line-hover {
  background: $accentInfo;
  display: flex;
}

.content-nav-match:hover .line-hover {
  background: $accentInfo;
  display: flex;
}

.background-hover-profile {
  display: flex;
  align-items: center;
  @extend %backgroundHover;
  align-items: center;
  position: relative;
  flex-direction: row;
  padding-right: 16px;
  padding-left: 16px;
}
.background-hover-profile:hover .text-profile {
  color: $whiteColor;
}

.background-nav {
  display: flex;
  height: 104px;
  width: 100vw;
  background-color: $backgroundLight;
  justify-content: center;
  box-shadow: 0px 8px 10px rgba(120, 120, 120, 0.15);
}

.content-btn-match {
  display: flex;
  width: 155px;
  height: 105px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.content-nav-match {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.content-nav-match:hover .text-match {
  text-shadow: 0px 1px 13px $whiteColor;
}

.content-btn-profile {
  display: flex;
  height: 70px;
  position: absolute;
  left: 1240px;
  top: 20px;
  flex-direction: row;
  align-items: center;
}

.circle-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 52px;
  border-radius: 100%;
  background-color: $grayThree;
}

.content-section-user {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 600px;
  height: 1026px;
  top: 224px;
  left: 64px;
  margin-bottom: 110px;
}

.background-profile-one,
.background-profile-two {
  display: flex;
  position: absolute;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0px 6px 8px rgba(120, 120, 120, 0.15);
  background: $backgroundLight;
}

.background-profile-two {
  height: 420px;
  top: 143px;
}

.background-profile-one {
  height: 484px;
  top: 540px;
}

.circle-user {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 157px;
  top: 0;
  width: 286px;
  height: 286px;
  box-shadow: 0px 8px 10px rgba(120, 120, 120, 0.15);
  border-radius: 100%;
  background: $backgroundLight;
  z-index: 1;
}

.contentbtn-edit-image {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 220px;
}

.contentbtn-edit-image:hover .icon-edit-image {
  width: 35px;
  height: 30px;
}

.contentbtn-edit-image:hover .btn-edit-image {
  fill: $darkHover;
}

.btn-edit-image {
  cursor: pointer;
  fill: $backgroundDark;
}

.icon-edit-image {
  width: 33px;
  height: 28px;
  position: absolute;
  cursor: pointer;
}

.text-image-user {
  position: absolute;
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontTwentyFour;
  color: $grayThree;
  cursor: default;
}

.content-menu-user {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  top: 520px;
}

.content-menu-me,
.content-menu-test,
.content-menu-abilities {
  display: flex;
  margin-right: 48px;
  cursor: pointer;
}

.title-menu-user,
.title-menu-match {
  text-decoration: none;
  font-family: $fontBody;
  font-style: normal;
  font-weight: bold;
  font-size: $fontTwentyFour;
  color: $backgroundDark;
}

.content-menu-me {
  width: 96.7px;
  height: 43px;
}

.content-menu-test {
  width: 47.23px;
  height: 43px;
}

.content-menu-abilities {
  width: 127.66px;
  height: 43px;
}

.content-menu-match {
  width: 67.95px;
  height: 43px;
  cursor: pointer;
}

.line-hover-me {
  width: 96.7px;
}

.line-hover-test {
  width: 47.23px;
}

.line-hover-abilities {
  width: 127.66px;
}

.line-hover-match {
  width: 67.95px;
}

.line-hover-match,
.line-hover-abilities,
.line-hover-test,
.line-hover-me {
  display: flex;
  position: absolute;
  height: 9px;
  bottom: 0;
  background: transparent;
}

.line-hover-abilities-on {
  display: flex;
  position: absolute;
  height: 9px;
  bottom: 0;
  background: $primaryLight;
  width: 127.66px;
  bottom: 443px;
  left: 265px;
}

.line-hover-match-on {
  display: flex;
  position: absolute;
  height: 9px;
  bottom: 0;
  background: $primaryLight;
  width: 67.95px;
  bottom: 443px;
  left: 441px;
}

.line-hover-test-on {
  display: flex;
  position: absolute;
  height: 9px;
  bottom: 0;
  background: $primaryLight;
  width: 47.23px;
  bottom: 443px;
  left: 170px;
}

.line-hover-me-on {
  display: flex;
  position: absolute;
  height: 9px;
  bottom: 0;
  background: $primaryLight;
  width: 96.7px;
  bottom: 401px;
  left: 25px;
}

.content-menu-me:hover .line-hover-me {
  background: $primaryLight;
}
.content-menu-me:active .line-hover-me {
  background: $primaryLight;
}

.content-menu-test:hover .line-hover-test {
  background: $primaryLight;
}

.content-menu-abilities:hover .line-hover-abilities {
  background: $primaryLight;
}

.content-menu-match:hover .line-hover-match {
  background: $primaryLight;
}

.content-description-user {
  height: 264px;
  top: 591px;
}

.content-social-user {
  height: 130px;
  top: 863px;
}

.content-info-me {
  display: flex;
  position: absolute;
  top: 50px;
  flex-direction: column;
  margin: 0 32px;
  width: 534px;
}

.box-description-user {
  display: flex;
  height: 175px;
  border-radius: 5px;
  border: 0;
  font-family: $fontBody;
  background: $boxInfo;
  font-style: normal;
  font-weight: normal;
  font-size: $fontEighteen;
  padding: 24px 24px;
  width: 486px;
  box-shadow: 0px 1px 2px rgba(120, 120, 120, 0.15);
}

.box-social-user {
  display: flex;
  background: $boxInfo;
  height: 107px;
  width: 534px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(120, 120, 120, 0.15);
}

.conten-add-user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  margin-left: 16px;
}

.icon-add-social {
  position: absolute;
  fill: $backgroundDark;
  height: 32px;
  width: 32px;
}

.conten-add-user:hover .icon-add-social {
  height: 36px;
  width: 36px;
  fill: $darkHover;
}

.icon-circle-social,
.icon-add-social {
  cursor: pointer;
}

.content-record-user {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 722px;
  top: 367px;
}

.title-record {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontThirtyTwo;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 24px;
}

.box-record-user {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $backgroundLight;
  width: 1117px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0px 6px 8px rgba(120, 120, 120, 0.15);
}

.text-record {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  color: $grayThree;
  cursor: default;
}

.title-section-test,
.text-description-user,
.text-social-user,
.title-section-match {
  @extend %titleSection;
  margin-top: 16px;
  margin-bottom: 8px;
}

.section-test,
.section-match {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $boxInfo;
  width: 534px;
  height: 385px;
  border-radius: 5px;
}

.content-abilities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-change {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 800px;
  left: 1743px;
  margin: 0;
  cursor: pointer;
}

.hover-circle {
  display: flex;
  position: fixed;
  background: transparent;
  filter: blur(15px);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 810px;
  left: 1760px;
}

.content-hover-circle:hover .hover-circle {
  background: #289038;
}

.icon-info-change {
  display: flex;
  position: fixed;
  top: 800px;
  left: 1812px;
  z-index: 1001;
  cursor: pointer;

  &:hover {
    width: 25px;
    height: 26px;
  }
}
