/* --------------------------------------------
   * Molecules Register
-------------------------------------------- */

.content-password,
.content-confirmpass,
.content-email,
.content-lastname,
.content-name {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 390px;
  height: 50px;
  margin-top: 8px;

  .input-password,
  .input-email,
  .input-compare-pass,
  .input-lastname,
  .input-name {
    width: 100%;
    @extend %inputs;
  }
}

i.fas {
  @extend %buttonInput;
}

.content-input {
  margin-top: 98px;
}

/* ////////////////////////INPUT CONFIRMPASS//////////////////////// */

.content-confirmpass {
  margin-top: 52px;
}

/* ////////////////////////INPUT EMAIL -AND- INPUT LAST NAME//////////////////////// */

/* .content-email,
.content-lastname {
  margin-top: 24px;
} */

/* ////////////////////////INPUT NAME//////////////////////// */

.content-name,
.content-email,
.content-lastname {
  margin-top: 8px;
}

.global-content-name {
  margin-top: 24px;
}

.error-input {
  background: #ffb6c0;
  border-radius: 5px;
  padding: 4px 0;
}

.span-error {
  color: $primaryLight;
  font-family: $fontTitle;
  font-size: 16px;
  font-weight: bold;
}

.content-modal {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-attention {
  @extend %h2;
  margin-top: 8px;
}

.paragraph-attention {
  @extend %h3;
  margin-top: 32px;
}

.paragraph-register {
  @extend %h3;
  margin-top: 16px;
}

.content-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.btn-big-login {
  display: flex;
  width: 320px;
  justify-content: center;
  align-items: center;
height: 104.99px;
background: $backgroundDark;
position: absolute;
right: 0;
top: 40px;
outline: none;
border: none;
cursor: pointer;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
flex-direction: row;
}

.profile-user-svg {
  stroke:none;
  stroke-width: 0;
  margin-right: 16px;
}

.btn-big-login:hover .profile-user-svg {
  stroke: #289038;
  stroke-width: 2px
}

.btn-big-login:hover {
  border-bottom: 2px solid #289038;
  border-top: 2px solid #289038;
  border-left: 2px solid #289038;
}

.btn-big-login:hover .log-in {
text-decoration: underline;
}

.backgron-modal-login {
  display: flex;
  position: relative;
  height: 500px;
  width: 810px;
  background: #FDFDFD;
  border-radius: 10px;
}

.section-modal-login {
  height: 100vmin;
  width: 1920px;
  justify-content: center;
  align-items: center;
  position: absolute;
display: flex;
background-color: #06070686;
  z-index: 3;
}

.title-modal-login{
  font-family: $fontTitle;
font-style: normal;
font-weight: bold;
font-size: 20px;
right: 135.5px;
position: absolute;
margin-top: 80px;
color: $backgroundDark;
}

.inputs-modal-login {
  display: flex;
  flex-direction: column;
  right: 0;
  top: 150px;
position: absolute;
right: 7px;
}

.label-modal-login {
  margin-top: 12px;
  font-weight: bold;
font-size: 14px;
font-family: $fontTitle;
color: $backgroundDark;
}

