/* // @extend inputs form */

/* ////////////////////////INPUT PASS//////////////////////// */
%inputs {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontSixteen;
  color: $grayFive;
  border: 1.5px solid $grayFive;
  box-sizing: border-box;
  border-radius: $radiusEight;
  padding-left: $spacingSixteen;
  outline: none;

  &:focus {
    border-color: $secondaryColorLight;
    box-shadow: 0 0 8px 0 $secondaryColorLight;
    outline-color: $secondaryColorLight;
    transition: 0.3s;
    color: $blackColor;
  }
}

%buttonInput {
  top: 0px;
  right: 0px;
  position: absolute;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: $accentInfo;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 50px;
  color: $whiteColor;
  font-size: $iconTwentyFour;
}

.content-password,
.content-confirmpass,
.content-email,
.content-lastname,
.content-name {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 390px;
  height: 50px;

  .input-password,
  .input-email,
  .input-compare-pass,
  .input-lastname,
  .input-name {
    width: 100%;
    @extend %inputs;
  }
}

i.fas {
  @extend %buttonInput;
}

.content-input {
  margin-top: 98px;
}

/* ////////////////////////INPUT CONFIRMPASS//////////////////////// */

.content-confirmpass {
  margin-top: 52px;
}

/* ////////////////////////INPUT EMAIL -AND- INPUT LAST NAME//////////////////////// */

.content-email,
.content-lastname {
  margin-top: 40px;
}

/* ////////////////////////INPUT NAME//////////////////////// */

.content-name {
  margin-top: 64px;
}
