.global-content-carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 544px;
}

.image-carrousel-my-project-one,
.image-carrousel-my-project-two {
  margin-right: 24px;
}

.image-carrousel-my-project-one,
.image-carrousel-my-project-two,
.image-carrousel-my-project-three {
  display: flex;
  position: relative;
  cursor: pointer;
}

.slider-carrousel {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slide-carrousel {
  position: relative;
  max-width: 100%;
  height: 180px;
}

.carrousel-btn-left {
  left: 578px;
}

.carrousel-btn-left,
.carrousel-btn-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 192px;
  width: 30px;
  background: rgba(38, 38, 38, 0.24);
  outline: none;
  border: 0;
  cursor: pointer;
  position: absolute;

  &:hover .svg-carrousel {
    fill: $accentSuccesLight;
  }
}
.carrousel-btn-left:hover,
.carrousel-btn-right:hover {
  background: $backgroundDark;
}

.svg-carrousel {
  fill: $backgroundLight;
}

.carrousel-btn-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.carrousel-btn-left {
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.content-project-reactions {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  justify-content: space-between;
}

.tite-project-end,
.type-project-edited,
.history-project-card {
  font-size: $fontTwentyFour;
}

.type-project-edited {
  margin-top: 24px;
}

.type-project-edited,
.history-project-card {
  margin-bottom: 8px;
}

.tite-project-end,
.number-reaction-star,
.number-reaction-heart,
.type-project-edited,
.history-project-card {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  color: $backgroundDark;
}

.reaction-react {
  margin-left: 32px;
}

.number-reaction-star,
.number-reaction-heart {
  font-size: $fontEighteen;
  margin-left: 4px;
}

.content-card-description-project {
  height: 238px;
}

.content-card-type-project {
  display: flex;
  height: 122px;
  margin-bottom: 24px;
}

.content-card-history-project {
  height: 232px;
  margin-bottom: 64px;
}

.content-card-description-project,
.content-card-type-project,
.content-card-history-project {
  background: $whiteTwo;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 16px 16px;
  width: 558px;
}

.description-project-edited {
  font-family: $fontBody;
  font-style: normal;
  font-weight: normal;
  font-size: $fontEighteen;
  line-height: 30px;
  color: $backgroundDark;
  margin-bottom: 24px;
}

.content-selected-type-project-two {
  margin-left: 8px;
}

.content-contact-project {
  background: linear-gradient(180deg, #262626 50%, #ffffff 50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
  border-top-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 225px;
  width: 100%;
}

.global-content-contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 193px;
  width: 359px;
}

.title-contact {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontFourteen;
  color: $backgroundLight;
}

.info-contact-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background: $secondaryColorLight;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background: $secondaryDark;
  }

  &:hover .character-question {
    font-size: $fontSixteen;
  }
}

.character-question {
  font-family: $fontButton;
  font-style: normal;
  font-weight: bold;
  font-size: $fontFourteen;
  color: $backgroundLight;
}

.contact-icon-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

.line-contact {
  background: $backgroundLight;
  border: 1px solid $backgroundLight;
  width: 305px;
  margin-bottom: 8px;
}
