/* // @extend inputs form */
/* ////////////////////////Title H2//////////////////////// */
%h2 {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontFourty;
  line-height: 46px;
  margin-block-start: 0;
  margin-block-end: 0;
}

%h3 {
  font-family: $fontBody;
  font-style: normal;
  font-weight: normal;
  font-size: $fontTwentyFour;
  line-height: 35px;
  margin-block-start: 0;
  margin-block-end: 0;
}

%buttonTitle {
  font-family: $fontBody;
  font-style: normal;
  font-weight: bold;
  font-size: $fontEighteen;
  line-height: 20px;
  color: $accentInfo;
}

/* ////////////////////////INPUT PASS//////////////////////// */
%inputs {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontSixteen;
  color: $grayFive;
  border: 1.5px solid $grayFive;
  box-sizing: border-box;
  border-radius: $radiusEight;
  padding-left: $spacingSixteen;
  outline: none;

  &:focus {
    border-color: $secondaryColorLight;
    box-shadow: 0 0 8px 0 $secondaryColorLight;
    outline-color: $secondaryColorLight;
    transition: 0.3s;
    color: $blackColor;
  }
}

%buttonInput {
  top: 0px;
  right: 0px;
  position: absolute;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: $accentInfo;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 50px;
  color: $whiteColor;
  font-size: $iconTwentyFour;
}

.content-password,
.content-confirmpass,
.content-email,
.content-lastname,
.content-name {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 390px;
  height: 50px;

  .input-password,
  .input-email,
  .input-compare-pass,
  .input-lastname,
  .input-name {
    width: 100%;
    @extend %inputs;
  }
}

i.fas {
  @extend %buttonInput;
}

.content-input {
  margin-top: 98px;
}

/* ////////////////////////INPUT CONFIRMPASS//////////////////////// */

.content-confirmpass {
  margin-top: 52px;
}

/* ////////////////////////INPUT EMAIL -AND- INPUT LAST NAME//////////////////////// */

.content-email,
.content-lastname {
  margin-top: 40px;
}

/* ////////////////////////INPUT NAME//////////////////////// */

.content-name {
  margin-top: 64px;
}

.content-modal-paragraph {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-attention {
  @extend %h2;
  margin-top: 8px;
}

.paragraph-attention {
  @extend %h3;
  margin-top: 32px;
}

.title-conditions {
  @extend %buttonTitle;
  margin-top: 100px;
  text-decoration: none;
  margin-top: 32px;
}
