/* // @extend inputs form */
/* ////////////////////////Title H2//////////////////////// */
%h2 {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontFourty;
  line-height: 46px;
  margin-block-start: 0;
  margin-block-end: 0;
}

%h3 {
  font-family: $fontBody;
  font-style: normal;
  font-weight: normal;
  font-size: $fontTwentyFour;
  line-height: 35px;
  margin-block-start: 0;
  margin-block-end: 0;
}

%titleSection {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontTwentyFour;
  margin-block-start: 0;
  margin-block-end: 0;
  color: $backgroundDark;
}

%buttonTitle {
  font-family: $fontBody;
  font-style: normal;
  font-weight: bold;
  font-size: $fontEighteen;
  line-height: 20px;
  color: $accentInfo;
}

/* ////////////////////////INPUT PASS//////////////////////// */
%inputs {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontSixteen;
  color: $grayFive;
  border: 1.5px solid $grayFive;
  box-sizing: border-box;
  border-radius: $radiusEight;
  padding-left: $spacingSixteen;
  outline: none;

  &:focus {
    border-color: $secondaryColorLight;
    box-shadow: 0 0 8px 0 $secondaryColorLight;
    outline-color: $secondaryColorLight;
    transition: 0.3s;
    color: $blackColor;
  }
}

%buttonInput {
  top: 0px;
  right: 0px;
  position: absolute;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: $accentInfo;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 50px;
  color: $whiteColor;
  font-size: $iconTwentyFour;
}

%backgroundHover {
  width: 100%;
  height: 70px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: -12px;
  cursor: pointer;
  background: transparent;

  &:hover {
    background: #4468e7;
  }
}

.content-password,
.content-confirmpass,
.content-email,
.content-lastname,
.content-name {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 390px;
  height: 50px;

  .input-password,
  .input-email,
  .input-compare-pass,
  .input-lastname,
  .input-name {
    width: 100%;
    @extend %inputs;
  }
}

i.fas {
  @extend %buttonInput;
}

.content-input {
  margin-top: 98px;
}

/* ////////////////////////INPUT CONFIRMPASS//////////////////////// */

.content-confirmpass {
  margin-top: 52px;
}

/* ////////////////////////INPUT EMAIL -AND- INPUT LAST NAME//////////////////////// */

.content-email,
.content-lastname {
  margin-top: 40px;
}

/* ////////////////////////INPUT NAME//////////////////////// */

.content-name {
  margin-top: 64px;
}

.content-modal {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-attention {
  @extend %h2;
  margin-top: 8px;
}

.paragraph-attention {
  @extend %h3;
  margin-top: 32px;
}

.paragraph-register {
  @extend %h3;
  margin-top: 16px;
}

.content-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

/* --------------------------------------------
   * Page Plans
-------------------------------------------- */

.card-free,
.card-Premium {
  width: 380px;
  height: 602px;
  border-radius: 8px;
}

.card-free {
  background: $lightGreen;
}

.card-Premium {
  background: $lighOrange;
}

.card-free-description,
.card-premium-description {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 316px;
  height: 602px;
  text-align: center;
  justify-content: center;
}

.description-free,
.description-premium {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 14px;
  font-weight: bold;
  font-family: $fontBody;
  font-style: normal;
  font-size: $fontEighteen;
}

.under-line {
  border: 1px solid $grayFive;
  width: 316px;
  margin-top: 14px;
}

/* --------------------------------------------
   * Page Profile
-------------------------------------------- */

.content-btns-menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
  left: 304px;
}

.content-project,
.content-test {
  display: flex;
  flex-direction: column;
  height: 70px;
  align-items: center;
}

.test,
.project,
.text-match,
.text-profile {
  text-decoration: none;
  font-family: $fontButton;
  font-style: normal;
  font-weight: bold;
  font-size: $fontEighteen;
}

.test,
.project,
.text-profile {
  color: $backgroundDark;
}

.test,
.project {
  margin-left: 16px;
  margin-right: 16px;
}

.text-profile {
  margin-left: $spacingEight;
}

.text-match {
  color: $whiteColor;
}

.background-hover {
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
  @extend %backgroundHover;
}

.background-hover:hover .test {
  color: $whiteColor;
  display: flex;
}

.background-hover:hover .project {
  color: $whiteColor;
  display: flex;
}

.content-btn-profile:hover .line-hover {
  background: $accentInfo;
  display: flex;
}

.content-btn-match:hover .line-hover {
  background: $accentInfo;
  display: flex;
}

.content-test:hover .line-hover {
  background: $accentInfo;
  display: flex;
}

.content-project:hover .line-hover {
  background: $accentInfo;
  display: flex;
}

.content-nav-match:hover .line-hover {
  background: $accentInfo;
  display: flex;
}

.background-hover-profile {
  display: flex;
  align-items: center;
  @extend %backgroundHover;
  align-items: center;
  position: relative;
  flex-direction: row;
  padding-right: 16px;
  padding-left: 16px;
}
.background-hover-profile:hover .text-profile {
  color: $whiteColor;
}

.background-nav {
  display: flex;
  height: 104px;
  width: 100vw;
  background-color: $backgroundLight;
  justify-content: center;
  box-shadow: 0px 8px 10px rgba(120, 120, 120, 0.15);
}

.content-btn-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 12px;
}

.content-nav-match {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.content-nav-match:hover .text-match {
  text-shadow: 0px 1px 13px $whiteColor;
}

.content-btn-profile {
  display: flex;
  height: 70px;
  position: absolute;
  left: 1240px;
  top: 20px;
  flex-direction: row;
  align-items: center;
}

.circle-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 52px;
  border-radius: 100%;
  background-color: $grayThree;
}

.content-section-user {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 600px;
  height: 1026px;
  top: 224px;
  left: 64px;
  margin-bottom: 110px;
}

.background-profile-one,
.background-profile-two {
  display: flex;
  position: absolute;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0px 6px 8px rgba(120, 120, 120, 0.15);
  background: $backgroundLight;
}

.background-profile-two {
  height: 420px;
  top: 143px;
}

.background-profile-one {
  height: 484px;
  top: 540px;
}

.circle-user {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 157px;
  top: 0;
  width: 286px;
  height: 286px;
  box-shadow: 0px 8px 10px rgba(120, 120, 120, 0.15);
  border-radius: 100%;
  background: $backgroundLight;
  z-index: 1;
}

.contentbtn-edit-image {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 220px;
}

.contentbtn-edit-image:hover .icon-edit-image {
  width: 35px;
  height: 30px;
}

.contentbtn-edit-image:hover .btn-edit-image {
  fill: $darkHover;
}

.btn-edit-image {
  cursor: pointer;
  fill: $backgroundDark;
}

.icon-edit-image {
  width: 33px;
  height: 28px;
  position: absolute;
  cursor: pointer;
}

.text-image-user {
  position: absolute;
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontTwentyFour;
  color: $grayThree;
  cursor: default;
}

.content-menu-user {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  top: 520px;
}

.content-menu-me,
.content-menu-test,
.content-menu-abilities {
  display: flex;
  margin-right: 48px;
  cursor: pointer;
}

.title-menu-user,
.title-menu-match {
  text-decoration: none;
  font-family: $fontBody;
  font-style: normal;
  font-weight: bold;
  font-size: $fontTwentyFour;
  color: $backgroundDark;
}

.content-menu-me {
  width: 96.7px;
  height: 43px;
}

.content-menu-test {
  width: 47.23px;
  height: 43px;
}

.content-menu-abilities {
  width: 127.66px;
  height: 43px;
}

.content-menu-match {
  width: 67.95px;
  height: 43px;
  cursor: pointer;
}

.line-hover-me {
  width: 96.7px;
}

.line-hover-test {
  width: 47.23px;
}

.line-hover-abilities {
  width: 127.66px;
}

.line-hover-match {
  width: 67.95px;
}

.line-hover-match,
.line-hover-abilities,
.line-hover-test,
.line-hover-me {
  display: flex;
  position: absolute;
  height: 9px;
  bottom: 0;
  background: transparent;
}

.line-hover-abilities-on {
  display: flex;
  position: absolute;
  height: 9px;
  bottom: 0;
  background: $primaryLight;
  width: 127.66px;
  bottom: 443px;
  left: 265px;
}

.line-hover-match-on {
  display: flex;
  position: absolute;
  height: 9px;
  bottom: 0;
  background: $primaryLight;
  width: 67.95px;
  bottom: 443px;
  left: 441px;
}

.line-hover-test-on {
  display: flex;
  position: absolute;
  height: 9px;
  bottom: 0;
  background: $primaryLight;
  width: 47.23px;
  bottom: 443px;
  left: 170px;
}

.line-hover-me-on {
  display: flex;
  position: absolute;
  height: 9px;
  bottom: 0;
  background: $primaryLight;
  width: 96.7px;
  bottom: 401px;
  left: 25px;
}

.content-menu-me:hover .line-hover-me {
  background: $primaryLight;
}
.content-menu-me:active .line-hover-me {
  background: $primaryLight;
}

.content-menu-test:hover .line-hover-test {
  background: $primaryLight;
}

.content-menu-abilities:hover .line-hover-abilities {
  background: $primaryLight;
}

.content-menu-match:hover .line-hover-match {
  background: $primaryLight;
}

.content-description-user {
  height: 264px;
  top: 591px;
}

.content-social-user {
  height: 130px;
  top: 863px;
}

.content-info-me {
  display: flex;
  position: absolute;
  top: 50px;
  flex-direction: column;
  margin: 0 32px;
  width: 534px;
}

.box-description-user {
  display: flex;
  height: 175px;
  border-radius: 5px;
  border: 0;
  font-family: $fontBody;
  background: $boxInfo;
  font-style: normal;
  font-weight: normal;
  font-size: $fontEighteen;
  padding: 24px 24px;
  width: 486px;
  box-shadow: 0px 1px 2px rgba(120, 120, 120, 0.15);
}

.box-social-user {
  display: flex;
  background: $boxInfo;
  height: 107px;
  width: 534px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(120, 120, 120, 0.15);
}

.conten-add-user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  margin-left: 16px;
}

.icon-add-social {
  position: absolute;
  fill: $backgroundDark;
  height: 32px;
  width: 32px;
}

.conten-add-user:hover .icon-add-social {
  height: 36px;
  width: 36px;
  fill: $darkHover;
}

.icon-circle-social,
.icon-add-social {
  cursor: pointer;
}

.content-record-user {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 722px;
  top: 367px;
}

.title-record {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontThirtyTwo;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 24px;
}

.box-record-user {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $backgroundLight;
  width: 1117px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0px 6px 8px rgba(120, 120, 120, 0.15);
}

.text-record {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  color: $grayThree;
  cursor: default;
}

.title-section-test,
.text-description-user,
.text-social-user,
.title-section-match {
  @extend %titleSection;
  margin-top: 16px;
  margin-bottom: 8px;
}

.section-test,
.section-match {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $boxInfo;
  width: 534px;
  height: 385px;
  border-radius: 5px;
}

.content-abilities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-change {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 800px;
  left: 1743px;
  margin: 0;
  cursor: pointer;
}

.hover-circle {
  display: flex;
  position: fixed;
  background: transparent;
  filter: blur(15px);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 810px;
  left: 1760px;
}

.content-hover-circle:hover .hover-circle {
  background: #289038;
}

.icon-info-change {
  display: flex;
  position: fixed;
  top: 800px;
  left: 1812px;
  z-index: 1001;
  cursor: pointer;

  &:hover {
    width: 25px;
    height: 26px;
  }
}

/* page test user */

.content-card-image-project {
  margin-left: 50px;
  margin-right: 40px;
}

.title-test-user {
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: $backgroundDark;
  margin-top: 67px;
  margin-bottom: 26px;
}

.description-test-user {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  color: $backgroundDark;
  width: 1488px;
  margin-bottom: 100px;
}

/* ////////////////////Page Match//////////////////// */

.card-image-project {
  height: 561px;
  width: 420px;
}

.card-name-project {
  height: 74px;
}

.card-description-project {
  height: 228px;
}

.card-type-project {
  height: 92px;
  width: 502px;
}

.card-name-project,
.card-description-project,
.card-owner-project {
  width: 502px;
  margin-bottom: 16px;
}

.card-requirement-project {
  width: 502px;
  height: 369px;
}

.card-image-project,
.card-name-project,
.card-description-project,
.card-type-project,
.card-owner-project,
.card-requirement-project {
  background: $lightGreenTwo;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.card-owner-project {
  height: 176px;
}

.style-title-owner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primaryLight;
  width: 80px;
  font-family: $fontButton;
  font-style: normal;
  font-weight: bold;
  font-size: $fontEighteen;
  color: $backgroundLight;
  height: 35px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: default;
}

.name-owner {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 4px;
  left: 80px;
  font-family: $fontButton;
  font-style: normal;
  font-weight: bold;
  font-size: $fontEighteen;
  color: $backgroundDark;
}

.line-title-name-owner {
  border: 1px solid $backgroundDark;
  width: 292px;
  margin-bottom: 12px;
}

.owner-description {
  position: relative;
  left: 16px;
  background: $backgroundLight;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  width: 470px;
  height: 90px;
}

.avatar-circle {
  display: flex;
  position: absolute;
  height: 130px;
  width: 130px;
  background: #faf9f9;
  border: 4px solid #289038;
  border-radius: 50%;
  left: 1410px;
  bottom: 600px;
}

.line-circle {
  position: relative;
  left: 78px;
}

.mini-circle-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 82.5px;
  bottom: 92px;
  background: transparent;
  height: 64px;
  width: 64px;
  background: #faf9f9;
  border-radius: 50%;
}

.content-circle-affinity {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 54px;
  background: $backgroundDark;
  border-radius: 50%;
  z-index: 2;
}

.percent-affinity-project {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #fafafa;
}

.box .percent-affinity-project {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.circle-dashed {
  border: 2px dashed #ff295f;
}

.circle-dashed-affinity {
  position: absolute;
}

.box .content-circle-progress {
  position: relative;
  height: 52px;
  width: 52px;
}

.progress-bar-circle {
  position: relative;
  fill: none;
  stroke-width: 3;
  stroke: #000;
  transform: translate(-4px, -2.6px);
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  stroke-linecap: round;
}

.progress-bar-circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #dff6e3;
}

.progress-bar-circle:nth-child(2) {
  stroke-dashoffset: calc(150 - (150 * 70) / 100);
  stroke: #289038;
}

.content-card-match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 836px;
  height: 156px;
  position: relative;
  top: 21px;
}

.background-btns-match {
  background: #d6feeb;
  box-shadow: 0px -1px 14px rgba(255, 41, 95, 0.5);
  position: relative;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 836px;
  height: 156px;
  z-index: -1;
}
