/* --------------------------------------------
   * Page Projects
-------------------------------------------- */

.main-section-create-project {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 232px;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.section-create-new-projec {
  display: flex;
  position: relative;
}

.section-edit-project {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 237px;
  margin-left: 64px;
}
