/* --------------------------------------------
   * Organisms Projects
-------------------------------------------- */
.section-create-project {
  display: flex;
  flex-direction: row;
}

.article-content-create-project {
  display: flex;
  height: 362px;
  margin-left: 32px;
  flex-direction: column;
}

.content-add-image-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 243px;
  height: 213px;
}
