.section-my-project {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 237px;
  left: 64px;
}

.content-project-column-two {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  width: 590px;
}
