/* --------------------------------------------
   * Organisms Projects
-------------------------------------------- */
.section-create-project {
  display: flex;
  flex-direction: row;
}

.article-content-create-project {
  display: flex;
  height: 362px;
  margin-left: 32px;
  flex-direction: column;
}
