/* --------------------------------------------
   * Organisms Projects
-------------------------------------------- */
.section-create-project {
  display: flex;
  flex-direction: row;
}

.article-content-create-project {
  display: flex;
  height: 362px;
  margin-left: 32px;
  flex-direction: column;
}

.content-add-image-one,
.content-add-image-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 243px;
  height: 213px;
}

.content-add-image-one {
  margin-right: 44px;
}

.container-add-image {
  display: flex;
  flex-direction: row;
}

.content-images-mini {
  display: flex;
  flex-direction: row;
  width: 480px;
  justify-content: space-between;
  margin-top: 8px;
}

.section-add-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
