.section-my-project {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 100%;
  margin-top: 237px;
}

.content-project-column-one {
  margin-left: 64px;
}

.content-project-column-two {
  flex-direction: column;
  width: 590px;
}

.content-project-column-three {
  display: flex;
  flex-direction: column;
  width: 560px;
  margin-right: 64px;
}

.info-sextion-project {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #d7d6d6;
}
