/* //Form Register Organism */
%modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 30%;
  padding: 24px;
  overflow: auto;
  background-color: $backgroundLight;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: $radiusEight;
}

%modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

%subtitleThree {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
  color: $backgroundDark;
}

%bodyMedium {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
  color: $backgroundDark;
}

%layoutForm {
  width: 600px;
  height: 586px;
  margin-top: 178px;
  margin-bottom: 170px;
  margin-left: 360px;
}

%formBackground {
  @extend %layoutForm;
  border-radius: $radiusFive;
  background: $backgroundDark;
}

.principal-container {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(
    138deg,
    rgba(0, 184, 113, 0.7) 22.13%,
    rgba(55, 166, 246, 0.616) 76.31%
  );
}
.principal-form {
  display: flex;
}

.second-container {
  text-align: center;
  @extend %layoutForm;
  @extend %formBackground;
}

.content-form {
  position: relative;
  align-items: center;

  margin-left: 112px;
}

/* //////////////////Progress Bar////////////////// */
.progress-bar {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.contentstep-one,
.contentstep-two {
  position: relative;
  color: $colorTitleWhite;
}

.contentstep-one {
  margin-right: 42px;
}

.contentstep-two {
  margin-left: 42px;
}

.step-one,
.step-two {
  height: 40px;
  width: 40px;
  position: relative;
  border: 2px solid $colorTitleWhite;
  border-radius: 50%;
  display: inline-block;
  line-height: 40px;
}

.step-one:before,
.step-one:after {
  position: absolute;
  content: '';
  width: 62px;
  height: 5px;
  border-radius: 10px;
  bottom: 16px;
  right: -75px;
  background: $colorTitleWhite;
}

.step-one:after {
  background: #04ab5b;
  animation: mov_Linea 0.3s linear forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes mov_Linea {
  100% {
    transform: scaleX(1);
  }
}

.check {
  display: none;
  position: absolute;
  left: 50%;
  top: 18%;
  transform: translate(-50%);
  font-size: 32px;
}

.number-step {
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  line-height: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.modal-content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop {
  @extend %modalBackdrop;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-done-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @extend %modalBackdrop;
}

.modal-box {
  @extend %modal;
  z-index: 4;
}

.modal-box-done {
  @extend %modal;
  z-index: 100;
}

/* --------------------------------------------
   * Page Plans
-------------------------------------------- */

.content-card-free,
.content-card-premium {
  display: flex;
  width: 380px;
  height: 602px;
  justify-content: center;
}

.content-card-free {
  margin-right: 109px;
}

.content-card-premium {
  margin-left: 109px;
}

.content-plans {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: absolute;
}

.background-plans {
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg width='1920' height='950' viewBox='0 0 1920 950' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M248.095 755.075L123.265 508.21M248.095 755.075L98.6702 107.657M248.095 755.075L66.4398 868.726M123.265 508.21L66.4398 868.726M123.265 508.21L-219.89 434.404M123.265 508.21L-136.266 239.52M66.4398 868.726L288.152 904.125M66.4398 868.726L-219.89 858.821M66.4398 868.726L174.576 1229.07M288.152 904.125L645.873 928.346M288.152 904.125L272.678 183.664M288.152 904.125L823.315 71.7316M288.152 904.125L492.193 142.014M288.152 904.125L492.193 1229.07M645.873 928.346L970.854 821.227M645.873 928.346L661.197 434.404M645.873 928.346L796.066 1243M970.854 821.227L661.197 434.404M970.854 821.227L1232.03 858.821M970.854 821.227L823.315 71.7316M970.854 821.227L878.831 1243M661.197 434.404L1219.17 453.201M661.197 434.404L98.6702 107.657M1219.17 453.201L1209.28 710.423M1219.17 453.201L1184.22 117.62M1219.17 453.201L823.315 71.7316M1219.17 453.201L1394.19 279.599M1219.17 453.201L1394.19 544.17L1407.62 878.98M1209.28 710.423L1232.03 858.821M1209.28 710.423L1407.62 878.98M1209.28 710.423L999.62 1243M1232.03 858.821L1407.62 878.98M1232.03 858.821L492.193 142.014M1232.03 858.821L1522.27 1289.46M272.678 183.664L98.6702 107.657M272.678 183.664L492.193 142.014M823.315 71.7316L1184.22 117.62M823.315 71.7316L492.193 142.014M823.315 71.7316L1078.6 -287.773M98.6702 107.657L66.4398 -225.055M98.6702 107.657L-192.015 239.52M492.193 142.014L695.324 -301.71M492.193 142.014L-136.266 -213.441M492.193 142.014L1078.6 -225.055M1184.22 117.62L1232.03 -271.513M1184.22 117.62L1394.19 80.9223L1473.49 -301.71L1578.88 288.456M1184.22 117.62L695.324 -213.441M1407.62 878.98L1662.26 710.423M1394.19 279.599L1630.71 58.7012M1394.19 279.599L1662.26 710.423M1662.26 710.423L1820.69 276.286M1662.26 710.423L1522.27 1215.13M1662.26 710.423L1866.29 906.432M1820.69 276.286L1578.88 288.456M1820.69 276.286L2181.96 107.657M1820.69 276.286L2047.24 947.997M1578.88 288.456L1630.71 58.7012M1578.88 288.456L1866.29 94.8113M1578.88 288.456L1473.49 1187.25M1630.71 58.7012L1866.29 94.8113M1630.71 58.7012L1306.24 -257.575M1630.71 58.7012L1884.64 -238.992M1866.29 94.8113V906.432M1866.29 94.8113L1789.4 -287.773M1866.29 94.8113L2212.16 -60.1308M1866.29 906.432L2096.02 1215.13' stroke='black' stroke-opacity='0.1' stroke-width='2.18271'/%3E%3Ccircle cx='98.7897' cy='107.908' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='248.833' cy='754.321' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='66.3491' cy='869.574' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='491.561' cy='141.238' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='822.462' cy='70.8061' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='660.619' cy='433.932' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='645.951' cy='926.959' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='970.555' cy='818.249' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='1207.46' cy='710.264' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='1219.42' cy='453.278' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='1231.37' cy='857.619' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='1407.62' cy='881.529' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='1661.73' cy='710.264' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='1577.03' cy='287.999' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='1819.65' cy='276.044' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='1630.15' cy='58.8511' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='1864.15' cy='94.7161' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='1864.15' cy='905.439' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='1183.55' cy='117.328' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='1393.95' cy='80.3245' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='122.7' cy='508.608' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='288.881' cy='903.049' r='11.955' fill='%2304AB5B'/%3E%3Ccircle cx='272.743' cy='185.35' r='11.955' fill='%2304AB5B'/%3E%3C/svg%3E%0A");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
}

.content-menu-nav {
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* page test */

.content-choose-test {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 266px;
  width: 100vw;
}

.section-test-user,
.section-test-project {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 430px;
  background: $backgroundLight;
  box-shadow: 0px 6px 8px rgba(120, 120, 120, 0.15);
  border-radius: 10px;
  padding: 16px 16px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 16px #289038;
  }
}

.section-test-user {
  margin-right: 12px;
}

.section-test-project {
  margin-left: 12px;
}

.subtitle-test-user,
.subtitle-test-project {
  @extend %subtitleThree;
  margin-bottom: 4px;
}

.line-test-user,
.line-test-project {
  border: 2px solid $backgroundDark;
  border-radius: 10px;
}

.content-line-text {
  display: flex;
  flex-direction: column;
}

.image-test-user,
.image-test-project {
  width: 100%;
  border-radius: 5px;
  margin-top: 16px;
  height: 215px;
}

.description-test-user-card,
.description-test-project {
  display: flex;
  align-items: center;
  text-align: center;
  @extend %bodyMedium;
  margin-top: 16px;
}

.content-cards-test {
  display: flex;
  flex-direction: row;
}

/* page test user */

.content-value {
  display: flex;
  position: absolute;
  right: 24px;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 50px;
  background: #4468e7;
  border-radius: 37px;
  margin-left: 40px;
}

.value {
  position: relative;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #fafafa;
  cursor: default;
}

.content-range-slider {
  display: flex;
  position: absolute;
  width: 1257px;
  left: 24px;
  flex-direction: row;
  align-items: center;
}

.content-range-slider .slider::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 10px rgba(255, 41, 95, 0.4);
}

.slider {
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  height: 20px;
  border-radius: 50px;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background: #c4c4c4;
  border: 4px solid #ff295f;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.content-input-value,
.content-input-value-two {
  display: flex;
  width: 1488px;
  height: 226px;
  margin-top: 16px;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(29, 29, 29, 0.15);
  background: $backgroundLight;
}
.global-test-user,
.global-test-project,
.global-test-user-modal,
.global-test-project-modal {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.global-test-user-modal,
.global-test-project-modal {
  height: 100vh;
  justify-content: center;
}

.content-dark {
  display: flex;
  position: absolute;
  align-items: center;
  top: 108px;
  height: 90px;
  width: 1440px;
  background: $gray-six;
  border-radius: 5px;
}

.question {
  display: flex;
  position: relative;
  font-family: $fontTitle;
  font-style: normal;
  font-weight: bold;
  font-size: $fontTwentyFour;
  line-height: 35px;
  margin-top: 24px;
  color: $backgroundDark;
  width: 1441px;
  height: 64px;
}

.progress-bar,
.progress-bar-two,
.progress-bar-three,
.progress-bar-four,
.progress-bar-five,
.progress-bar-six,
.progress-bar-seven,
.progress-bar-eight,
.progress-bar-nine,
.progress-bar-ten,
.progress-bar-eleven,
.progress-bar-twelve,
.progress-bar-thirteen,
.progress-bar-fourteen,
.progress-bar-fiveteen,
.progress-bar-sixteen,
.progress-bar-seventeen,
.progress-bar-eighteen,
.progress-bar-nineteen,
.progress-bar-twenty,
.progress-bar-project,
.progress-bar-two-project,
.progress-bar-three-project,
.progress-bar-four-project,
.progress-bar-five-project,
.progress-bar-six-project,
.progress-bar-seven-project,
.progress-bar-eight-project,
.progress-bar-nine-project,
.progress-bar-ten-project,
.progress-bar-eleven-project,
.progress-bar-twelve-project,
.progress-bar-thirteen-project,
.progress-bar-fourteen-project,
.progress-bar-fiveteen-project,
.progress-bar-sixteen-project,
.progress-bar-seventeen-project,
.progress-bar-eighteen-project,
.progress-bar-nineteen-project,
.progress-bar-twenty-project {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  border-radius: 50px;
}

.content-btns {
  display: flex;
  position: relative;
  width: 1488px;
  justify-content: space-between;
  margin-bottom: 32px;
  margin-top: 24px;
}

.modal-information {
  width: 550px;
  height: 436px;
  background: #fafafa;
  box-shadow: 0px 6px 8px rgba(120, 120, 120, 0.15);
  border-radius: 10px;
  padding: 16px;
}

.content-modal-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

/* ///////////////////////Page Match//////////////////////// */

.content-global-match-project {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.card-match-project {
  position: relative;
  top: 300px;
  width: 1608px;
  height: 780px;
  background: $whiteTwo;
  box-shadow: 0px 3.76517px 5.64776px rgba(29, 29, 29, 0.15);
  border-radius: 10px;
}
