//Form Register Organism
%layoutForm {
  width: 600px;
  height: 586px;
  margin-top: 178px;
  margin-bottom: 170px;
  margin-left: 112px;
}

%formBackground {
  @extend %layoutForm;
  border-radius: $radiusFive;
  background: $backgroundDark;
}

form {
  display: flex;
}

.principal-container {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(
    138deg,
    rgba(0, 184, 113, 0.7) 22.13%,
    rgba(55, 166, 246, 0.616) 76.31%
  );
  align-items: center;
  justify-items: center;
}

.second-container {
  text-align: center;
  @extend %layoutForm;
  @extend %formBackground;
}

.content-form {
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-left: 112px;
}
