/* --------------------------------------------
   * COLORS
-------------------------------------------- */
$secondaryColorLight: #37a6f6;
$grayFive: #777777;
$grayThree: #d9d9d9;
$whiteColor: #fff;
$blackColor: #000;
$accentInfo: #4468e7;
$hooverBlue: #375ad2;
$backgroundLight: #fafafa;
$backgroundDark: #262626;
$darkHover: #414141;
$colorTitleWhite: #fff;
$primaryLight: #ff295f;
$accentSuccesLight: #04ab5b;
$accentSuccesDark: #289038;
$primaryBase: #ec0b2b;
$darkGreen: #0c4e13;
$lightGreen: #7fdc8d;
$lighOrange: #fd9c56;
$darkOrange: #e73d01;
$accentActiveLight: #fd8e3e;
$accentActiveHover: #e96303;

/* --------------------------------------------
   * Shadows
-------------------------------------------- */
$shadownBtnBlue: rgba(44, 155, 235, 0.5);
$shadownBtnRed: rgba(236, 11, 43, 0.5);

/* --------------------------------------------
   * fonts
-------------------------------------------- */
$fontTitle: Open Sans, sans-serif;
$fontButton: 'Roboto', sans-serif;
$fontBody: 'Roboto', sans-serif;

/* --------------------------------------------
   * font size
-------------------------------------------- */
$fontSixteen: 16px;
$fontEighteen: 18px;
$fontTwentyFour: 24px;
$fontFourty: 40px;

/* --------------------------------------------
   * Radius
-------------------------------------------- */
$radiusEight: 8px;
$radiusFive: 5px;

/* --------------------------------------------
   * spacing
-------------------------------------------- */
$spacingFour: 4px;
$spacingEight: 8px;
$spacingSixteen: 16px;
$spacingTwenty-four: 24px;
$spacingThirty-two: 32px;
$spacingForty: 40px;
$spacingFortyEight: 48px;
$spacingFifty-six: 56px;
$spacingSixty-four: 64px;
$spacingSeventy-two: 72px;
$spacingEighty: 80px;

/* --------------------------------------------
   * Icon Size
-------------------------------------------- */
$iconTwentyFour: 24px;
